{% extends 'donations/base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow p-4">
            <h2 class="text-center mb-4">Create Account</h2>

            <form method="POST">
                {% csrf_token %}

                <input type="text"
                       name="username"
                       placeholder="Username"
                       class="form-control mb-3"
                       required>

                <input type="email"
                       name="email"
                       placeholder="Email"
                       class="form-control mb-3"
                       required>

                <input type="password"
                       name="password"
                       placeholder="Password"
                       class="form-control mb-3"
                       required>

                <button type="submit"
                        class="btn btn-success w-100">
                    Signup
                </button>

            </form>

            <div class="text-center mt-3">
                <a href="/login/">Already have an account? Login</a>
            </div>

        </div>

    </div>
</div>

{% endblock %}