{% extends 'donations/base.html' %}

{% block content %}

<div class="text-center p-5 bg-white rounded shadow">

    <h1 class="text-success">
        🍲 Hunger Free Connect
    </h1>

    <h4 class="mt-3">
        Donate Food, Save Lives ❤️
    </h4>

    <p class="mt-3">
        Help reduce hunger by connecting food donors and needy people.
    </p>

    <img
        src="https://images.unsplash.com/photo-1488521787991-ed7bbaae773c"
        class="img-fluid rounded shadow mb-4"
        width="500"
    >

    <br>

    <a href="/add/" class="btn btn-success btn-lg">
        Add Donation
    </a>

</div>

{% endblock %}